<div class="m-lg-3">
  <h3 [translate]="'iDashboard.MyCourses'"></h3>
  <div class="border-right mt-4 pr-lg-5">

    <!--pre-loading state-->
    <div class="card mb-3" *ngIf="isLoading">
      <div class="card-body">
        <div class="ph-col-12">
          <div class="ph-row">
            <div class="ph-col-8 big"></div>
          </div>
          <div class="ph-row">
            <div class="ph-col-8 big"></div>
          </div>
          <div class="ph-row">
            <div class="ph-col-2 big"></div>
            <div class="ml-4 ph-col-4 big"></div>
          </div>
        </div>
      </div>
    </div>
    <!--end pre-loading state-->

    <div *ngIf="recentCourses">
      <div class="card mb-3" *ngFor="let course of recentCourses"> <!-- LOOP WITH CARDS -->
        <div class="card-body">
          <div class="row">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-9">
                  <div class="row">
                    <h5>{{course.course.name}}</h5>
                  </div>
                  <div class="row">
                    <span class="text-secondary"><i class="fas fa-user-graduate pr-2"></i> </span>
                    <span class="text-secondary mr-1" *ngFor="let instructor of course.courseClass.instructors; let isLast=last">
                      {{instructor.instructor.givenName}} {{instructor.instructor.familyName}} {{isLast ? '' : ', '}}
                    </span>

                  </div>
                  <div class="row mt-2">
                    <span class="text-secondary"><i class="far fa-flag pr-2"></i> {{course.course.displayCode}}</span>
                    <span class="d-inline-block ml-4"><a href="#" title="{{'iDashboard.StudyGuide' | translate}}" target="_blank" [translate]="'iDashboard.StudyGuide'"></a></span>
                  </div>
                </div>
                <div class="col-md-3">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!isLoading && recentCourses && recentCourses.length === 0">
      <div class="info-text" [translate]="'iDashboard.CoursesNoRecords'"></div>
    </div>

  </div>
</div>
