<a class="" href="/#/requests/list"><i class="fa fa-chevron-left float-left mt-2 mr-2 text-gray-400" ></i><span class="font-lg text-info text-decoration-none" [translate]="'Requests.Homepage'"></span></a>
<h2 class="pb-4-5 pt-2" [translate]="'Requests.RequestsNew'"></h2>
<div class="card">
  <div class="card-body">
    <form action="" method="post">
      <div class="form-group">
        <h2 class="pt-2 pb-1" [translate]="'Requests.RequestsNewTitle'"></h2>
        <div class="pb-3-5 text-info" for="nf-email" [translate]="'Requests.RequestsNewTitleSum'"></div>
        <input #title type="text" id="title" name="nf-email" class="form-control" placeholder="{{ 'Requests.RequestsNewTitle' | translate }}">
      </div>
    </form>
    <form action="" method="post">
      <div class="form-group">
        <h2 class="pt-2 pb-1" [translate]="'Requests.RequestsNewDescription'"></h2>
        <div class="pb-3-5 text-info" for="nf-email" [translate]="'Requests.RequestsNewFullMessage'"></div>
        <textarea #description id="description" name="textarea-input" rows="3" class="form-control" placeholder="{{ 'Requests.RequestsNewMessage' | translate }}"></textarea>
      </div>
    </form>
    <div class="row justify-content-center">
    <button type="submit" (click)="sendSimpleMessage(title.value, description.value)" class="btn btn-success btn-requests"><i ></i>  <span [translate]="'Requests.Request'"></span></button>
    </div>
  </div>



</div>
