@import "../../../../scss/bootstrap-variables";

//reg2_page = registration-checkout
.reg2_page {
  margin: 20px 0px 20px 0px;
}

/************ reg2__info-container **************/

.reg2__info-container__main-card {
  margin-left: 10px;
  margin-right: 10px;
  border: 0px;
  border-radius: 6px;
  box-shadow: 0 0 17px 0 rgba(177,177,177,0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 278px;
}

.reg2__info-container__main-card--horizontal {
  flex-direction: column;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  display: flex;
  padding: 20px;
}

.reg2__info-container {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.reg2__info-container--horizontal {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}

.reg2__info-container__main-card_img {
  margin: 20px;
  padding: 40px;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #678898;
}

.reg2__info-container_buttons {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
}

/************ END OF reg2__info-container **************/




/************ counting-box **************/

.reg2__counting-box {
  display: flex;
  color: #536C79;
}

.reg2__counting-box ul {
  margin-top: 10px;
  margin-bottom: 10px;
  list-style-type: none;
  padding: 0;
}

.reg2__counting-box li {
  white-space: nowrap;
}

.reg2__counting-box_left-side {
  flex-grow: 1;
}

.reg2__counting-box_right-side {
  width: 30px;
  text-align: right;
}

/************END OF counting-box **************/


//Buttons of the top right corner (Print, Edit, etc.)
.reg2__buttons-container {
  display: flex;
  height: 60px;
  width: 300px;
  padding-top: 13px;
  margin-left: 15px;
}

.reg2__left-container {
  flex-grow: 1;
  height: 100%;
}

.reg2__top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.reg2__ellipsis-container {
  width: 35px;
  background: #F0F3F5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33px;
  font-size: 14px;
  border-radius: 2px;
}

.reg2__lists-container {
  border-top: 1px solid $gray-200;
  padding-top: 26px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.reg2__title-container__buttons {
  width: auto;
  display: flex;
  flex-direction: row-reverse;
  padding-top: 13px;
}

.reg2__title-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

/************ GENERAL **************/
.reg2__button-primary {
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33px;
  height: 33px;
  width: 148px;
}

.reg2__btn--gray {
  background-color: #F0F3F5;
}

.reg2__edited {
  color: #2500DD;
}

.reg2__success-button {
  background-color: #32CD32;
  color: white;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  margin-left: 20px;
}

.reg__arrow-position {
  right: 25px;
  top: 15px;
  position: absolute;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  margin-left: 20px;
}

.reg__arrow-position {
  right: 25px;
  top: 15px;
  position: absolute;
}

.empty_reg {
  color: #cecece;
  font-weight: 400;
}

/***** Failed lessons Modal ********/
.failedLessons-container {
  display: flex;
  flex-direction: column;
}

.failedLessons-container_item {
  display: flex;
  align-items: center;
  color: #F86C6B;
  margin-top: 20px;
}

.failedLessons-container_item_title {
  border: solid 1px;
  border-radius: 20px;
  padding: 7px 12px 7px 12px;
  margin-left: 20px;
  min-width: 220px;
  max-width: 220px;
  height: max-content;
}

.failedLessons-container_item_description {
  padding: 7px 12px 7px 12px;
  // text-align: left !important;
  flex-grow: 1;
}


/************** MOBILE UI ***************/

@media screen and (max-width: 600px) {
  .reg2__info-container_buttons {
    //Mobile UI
    justify-content: center;
  }

  .reg2__title-container {
    flex-direction: column; //Mobile UI
  }

  .reg2_page {
    //Mobile UI
    margin-right: 0;
    margin-left: 0;
  }

  .reg2__title-container__buttons {
    //Mobile UI
    margin-top: 15px;
    padding-top: 0;
  }

  .reg2__info-container__main-card--horizontal {
    //Mobile UI
    align-items: center;
  }


  .reg2__info-container__main-card--horizontal {
    //Mobile UI  
    text-align: center;
  }

  .reg2__lists-container {
    border-top: none;
  }
}


/************** TABLET UI ***************/

@media screen and (max-width: 980px) and (min-width: 601px) {

  .reg2_page {
    margin-right: 0;
    margin-left: 0; //Tablet UI
  }

  .reg2__lists-container {
    border-top: none;
  }

}
