<div class="card">
  <div class="card-header">
    <span [translate]="'Grades.Grades'"></span>
    <div class="card-header-actions">
        <span>
          <small class="text-muted" [translate]="'Grades.RecentGrades'"></small>
        </span>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-responsive-sm" *ngIf="courses">
      <thead>
      <tr>
        <th [translate]="'Grades.CourseName'"></th>
        <th [translate]="'Grades.ExamPeriod'"></th>
        <th [translate]="'Grades.Grade'"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let course of courses">
        <td>{{course.course.name}}</td>
        <td>{{course.courseExam.year.alternateName}} {{course.courseExam.examPeriod.name}}</td>
        <td>{{course.formattedGrade}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
